.contact-backdrop-contact {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #60564d;
    z-index: 1;
}
.contact-inputStyle{
    background-color: rgba(16, 21, 44,1);
    color: #fff;
    border: 1px solid #333;
}

.contact-border {
    padding: 10px;
    /*width: 5px;*/
    /*height: 102px;*/
    border-color:  #CCBAAA;
    border-top: 2px solid #fff ;
    border-bottom: 2px solid #fff ;
    border-left: 2px solid #fff ;
    border-right: 2px solid #fff ;
    border-radius: 5px;
    cursor:default;
    opacity: 1;
}
