.modal-back-color{
    background-color: #fff;
    opacity: 100%;
    
}

.modal-parent{
    border-radius: 305px;
}
.text-brown{
    color: #87674F;
}
.preview-box{
    height: auto;
    width: auto;
    border-radius: 50px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.check-out-item-border {
    padding: 10px;
    /*width: 5px;*/
    /*height: 90px;*/
    border-color:  #CCBAAA;
    border-top: 2px solid #CCBAAA ;
    border-left: 2px solid #CCBAAA ;
    border-right: 2px solid #CCBAAA ;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor:default;
    opacity: 1;
}
.check-out-item-border:hover{
    background-color: #CCBAAA;

}