.modal-back-color{
    background-color: #87674F;
}

.modal-parent{
    border-radius: 15px;
}
.text-brown{
    color: #87674F;
}
.preview-box{
    height: 140px;
    width: 140px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 10;
    width: 100vw;
    height: 100vh;
}